@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

header {
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	padding: 20px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
}

nav a:hover {
	background-color: #333;
	color: #fff;
}
  
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background: linear-gradient(to bottom, #4682B4, #7D3C98);*/
	background: linear-gradient(to bottom, #fff, #333);
	max-width: auto;
	max-height: auto;
	margin: 0 auto;
	padding: 40px;
}

footer {
	background-color: #f9f9f9;
	padding: 20px;
	text-align: center;
}
  
@media screen and (max-width: 768px) {
	main {
		padding: 20px;
	}
  }

.bande{
	background-color: #333;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.projets {
	flex: 1;
	margin: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px;
	transition: 0.5s;
}
.projets article {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
	padding: 4px;
}
.projets article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100px;
	height: auto;
}
.projets article p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.projets article h2 {
	text-align: center;
}


.fa:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.fa-linkedin, .fa-github {
	color: white;
	padding: 10px;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 40px;
	width: 40px;
	text-decoration: none;
	margin: 10px 80px;
}

.formulaire-container {
	border-radius: 15px;
	box-shadow: 0px 2px 5px #000;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: auto;
	width: auto;
}

.formulaire {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

input {
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #333;
	box-shadow: 0px 2px 5px #000;
}

textarea {
	height: 100px;
	width: 300px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #333;
	box-shadow: 0px 2px 5px #000;
}